body {
    font-family: Arial, sans-serif;
    background-color: #ecdeb5;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #e2a813;
    padding: 50px 20px 50px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: #a0c8dc;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(52, 98, 190);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #d24f24;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
}
